
img {
    height: 300px;
    width:  300px;
}

body {
    text-align: center;
    font-family: "Arial";
    font-size: 90px;
}

body {
    color: purple;
}
hl {
    color: blue;
}

body {
    background-color: lightgreen;
}

body {
    font-family: pink
}
